body {
  background-color: rgb(238, 238, 238);
}
#gps {
  /*change this when the gps api is added*/
  visibility: hidden;
}

#display_container {
  background: rgb(209, 209, 209);
  visibility: hidden;
}
footer {
  background: rgb(77, 74, 74);
}
